auto nameString = D->getNameAsString();
  auto type = D->getType();
  if (!type.isConstQualified()) {
      return;
  }

  if (!std::regex_match(nameString, correctRegex)) {
    Report(D, reportDescription, BR);
  }